body,
html {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
p,
span {
    font-family: 'Montserrat', sans-serif;
}

.parallax-container {
    height: 90vh !important;
}

.nav li a {
    color: gray !important;
}

.inside {
    margin-top: 0px !important;
    background: rgba(33, 33, 33, .6) !important;
    color: wheat;
    /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6) !important; */
    /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6) !important; */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.context {
    width: 500px;
    margin-top: 100px;
    margin-left: 120px;
    font-weight: 700 !important;
}

.info {
    padding: 40px 40px;
    color: gray;
}

.i_info {
    padding: 40px 40px !important;
}

.pass {
    max-width: 300px;
    margin: 0px auto;
}

pass input {
    font-size: 1.5em !important;
}

.unbox {
    padding: 40px 40px;
    color: antiquewhite;
}


/* setting up media query */

@media only screen and (max-width: 600px) {
    .context {
        max-width: 350px;
        margin-top: 50px;
        margin-left: 20px;
        font-weight: 100 !important;
    }
    .i_info {
        padding: 0px 0px !important;
    }
    .unbox {
        padding: 10px 10px;
        color: antiquewhite;
    }
    .info {
        padding: 20px 20px;
        color: gray;
    }
}